$notification-color: #DE3F4F;
$notification-text-color: #FFFFFF;
$search-bar-color: #F1F2F5;
body {
    margin: 0;

    .wrapper-navigation {
      height: 60px;

      nav {
        display: flex;
        justify-content: space-between;

        .left-navigation{
          display: inline-flex;

          a{
            height: 25px;
            width: 25px;
            text-decoration: none;

          }

          input {
            max-width: 280px;
            height: 40px;
            border-radius: 100px;
            border: none;
            background: url(Parts/search.svg);
            background-repeat: no-repeat;
            background-position: 6% 50%;
            margin-left: 20px;
          }
          
          input::-moz-placeholder {
            padding-left: 15%;
          }
          
          input:-ms-input-placeholder {
            padding-left: 15%;
          }
          
          input::placeholder {
            padding-left: 15%;
          }
          
          .search {
            background-color: $search-bar-color;
          }
        }
        
      
        .mid-icons {
          width: 40%;
          display: flex;
          justify-content: space-around;
          align-items: center;
      
          
          
          .videos::after{
              height: 20px;
              width: 20px;
              background-color: $notification-color;
              content: '6';
              border-radius: 50%;
              color: $notification-text-color;
              display: inline-block;
              position: absolute;
              text-align: center;
              font-size: 16px;
              top: 0px;
              margin-left: -8px;
          }
          .social::after{
              height: 20px;
              width: 20px;
              background-color: $notification-color;
              content: '1';
              border-radius: 50%;
              color: $notification-text-color;
              display: inline-block;
              position: absolute;
              text-align: center;
              font-size: 16px;
              top: 0px;
              margin-left: 15px;
          }
        }
        
        .right-icons-wrapper {
          justify-content: end;
        }
        
        .right-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            width: 50px;
            height: 50px;
            background-color: #E5E6EB;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
          }
          
          .user-name {
            padding-left: 8px;
          }
          
          .user-icon {
            width: 32px;
            height: 32px;
            background-color: black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .content-wrapper{
      display: flex;
      justify-content: center;
      background-color: rgb(241, 241, 241);
      min-width: 80%;

      .content{

        h1{
          text-align: center;
        }

        .output{
          .fetchedCard{
            border-top: 1px solid black;
            padding: 50px 0;

            .fetchedImage{
              display: flex;
              justify-content: center;

              img{
                width: 100%;
                max-width: 600px;
              }
            }
            p{
              text-align: center;
            }
          }
        }
      }
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*# sourceMappingURL=style.css.map */